
:root {
	--violeta: #b60982bb;
	--fondo: #000000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--fondo);
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	margin: auto;
}

header {
	padding: 30px 0;
}

header .contenedor {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header .logotipo {
	font-family: 'Bebas Neue', cursive;
	font-weight: normal;
	color: var(--violeta);
	font-size: 40px;
}

header nav a {
	color: #AAA;
	text-decoration: none;
	margin-right: 20px;
}

header nav a:hover,
header nav a.activo {
	color: #FFF;
}

/* ---- ----- ----- Ayuda al usuario en el menu inicial ----- ----- ----- */
.Menu-principal-del-usuario {
	font-size: 16px;
	min-height: 40.62em;
	color: #fff;
	background: linear-gradient(rgba(0, 0, 0, .50) 0%, rgba(0,0,0,.50) 100%), url(../img/img1.jpg);
	background-position: center center;
	background-size: cover;
	margin-bottom: 3.12em;
	display: flex;
	align-items: end;
}

/*------- Lograr bajar el Titulo Principal

.Menu-principal-del-usuario.contenedor{
	
}
*/

.Menu-principal-del-usuario .titulo {
	font-weight: 600;
	font-size: 3.12em;
	margin-bottom: 0.4em;
}

.Menu-principal-del-usuario .descripcion {
	font-weight: normal;
	font-size: 1em;
	line-height: 1.75em;
	max-width: 50%;
	margin-bottom: 1.25em;
}
.main-container{
	margin: 150px auto;
	width: 600px;

}
table{
	background-color: rebeccapurple;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}
th, td{
	padding: 20px;
}

thead{
	background-color: rgb(107, 107, 107);
	border-bottom: solid 10px  rgb(107, 107, 107);
	color: white;
}

tr:nth-child(even){
	background-color: #ddd;
}

tr:hover td{
	background-color: rgb(136, 65, 136);
	color: white;
}

.Menu-principal-del-usuario .boton {
	background: rgba(0,0,0, 0.5);
	border: none;
	border-radius: 0.31em;
	padding: 0.93em 1.87em;
	color: #fff;
	margin-right: 1.25em;
	cursor: pointer;
	transition: .3s ease all;
	font-size: 1.12em;
}

.Menu-principal-del-usuario .boton:hover {
	background: #fff;
	color: #000;
}

.Menu-principal-del-usuario .boton i {
	margin-right: 1.25em;
}

.form-control{
	border: solid 1px #ccc;
	padding: 10px;
}
form{
	background-color: purple;
	border-radius: 5px;
	color: #999;
	font-size: 1.0em;
	padding: 25px;
	margin: 0 auto;
	margin-top: -250px;
	width: 300px;
}
.striped{
	position: absolute;
	left: 50%;
	margin-left: -300px;
	top: 50%;
	margin-top: 40px;
	width: 50%;
}
.btn{
	border-radius: 3px;
	display: inline-block;
	padding: 8px 10px;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(255,255,255,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3); 
	margin-left: 67px;
	margin-top: 15px;
}
.btn-green{
	color: white;
	background-color: #17a7ac;
	text-align: left;
}
.btn-green:hover{
	background-color: #37B839;	
}
.btn-green:active{
	background-color: #29962A;
}
/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .Menu-principal-del-usuario {
		flex-direction: column;
		text-align: center;
	}

	.Menu-principal-del-usuario {
		font-size: 14px;
	}

	.Menu-principal-del-usuario .descripcion {
		max-width: 100%;
	}

}
