@model IEnumerable<GusToom.Models.Manga>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/site.css">
	<link rel="ico" href="../img/Logo.png">
	<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet"> 
	<title>ガスToom</title>
</head>

<body>
	<header>
		<div class="contenedor">
			<h2 class="logotipo">ガスToom</h2>
			<nav>
                <a class="activo" asp-action="Index">Inicio</a>
                <a class="link" asp-action="ListMangas">Mangas</a>
                <a class="link" asp-action="ListCategoria">Generos</a>
                <a class="link" asp-action="MangaAdd">Publicar</a>
                <a class="link" asp-action="home">Proximamente</a>
                <a class="link" asp-action="">Autores</a>
			</nav>
		</div>
	</header>

	<main>
		<div class="Menu-principal-del-usuario">
			<div class="contenedor">
				<h3 class="titulo">Hola de Nuevo Peronista!!</h3>
				<p class="descripcion">
				       Un gusto volver a verte por estos rincones de tu democracia, te dejo unas recomendaciones si vas a publicar un manga, primero "Carga un Genero" y luego publica lo que quieras.
				</p>
				<p>
					<a role="button" class="boton" asp-action="MangaAdd"><i class="fas fa-coffee"></i>>ガスPublicar Manga</a>
				    <a role="button" class="boton" asp-action="Categoriaadd"><i class="fas fa-book-reader"> </i>Cargar Genero</a>
				</p>
			</div>
		</div>
	</main>
	
	<script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
	<script src="js/main.js"></script>
</body>
</html>


